{% extends "header.html" %}
{% block content %}
<head>
</head>
<body>
    <br>
    <div class="container room-room">
        <div class="row">
            <div class="col-md-6 footer-left-part card-center">
                <div class="card text-center">
                    <div class="card-header">
                        {{product.product_brand}}  {{product.product_model}}
                    </div>
                    <div class="card-body">
                        <img class="image product-image card-img-top" src="{{ product.product_image.url }}" alt="Product Image" />
                    </div>
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Description</h5>
                            <p class="card-text">{{ product.product_desc }}</p>
                            <h5 class="card-title">Price</h5>
                            <p class="card-text">INR {{ product.product_price }}</p>
                        </div>
                        <div class="text-center">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                {% if flag %}
                                <a href="{% url 'del_wishlist_product' product.id %}">
                                    <button type="button" class="btn btn-outline-dark first-button-radius">
                                        <span class="marginright10px">
                                            <i class="fa-solid fa-heart-circle-minus"></i>
                                            Remove from WishList</span>
                                    </button>
                                </a>
                                {% else %}
                                <a href="{% url 'add_to_wishlist' product.id %}">
                                    <button type="button" class="btn btn-outline-dark first-button-radius">
                                        <i class="fa-solid fa-heart-circle-plus"></i>
                                        <span>Add to WishList</span>
                                    </button>
                                </a>
                                {% endif %}
                                {% if flag_cart %}
                                <a href="{% url 'del_cart_product' product.id  %}">
                                    <button type="button" class="btn btn-outline-dark middle-button-radius">
                                        <i class="fa-solid fa-trash-can logo-space-left"></i>
                                        <span>Remove from Cart</span>
                                    </button>
                                </a>
                                {% else %}
                                <a href="{% url 'add_to_cart' product.id %}">
                                    <button type="button" class="btn btn-outline-dark middle-button-radius">
                                        <i class="fa-solid fa-cart-plus"></i>
                                        <span>Add to Cart</span>
                                    </button>
                                </a>
                                {% endif %}
                                <a href="{% url 'user_view_product' product.product_brand %}">
                                    <button type="button" class="btn btn-outline-dark last-button-radius">
                                        <i class="fa-solid fa-delete-left"></i>
                                        <span class="marginright10px">Go Back</span>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</body>
{% include 'footer.html' %}
{% endblock %}