{% extends "header.html" %}
{% block content %}
<head>

</head>
</body>
     {% if msg %}
    <div class="alert alert-success" role="alert">
        {{msg}}
    </div>
    {% endif %}
    {% if msgred %}
    <div class="alert alert-danger" role="alert">
        {{msgred}}
    </div>
    {% endif %}
    <br>
    <div class="container cnt-form">
        <h2 class="display-4">Change Password</h2>
        <br>
        <form method="post" name="user_change_password" action="{% url 'user_change_password' %}">
            {% csrf_token %}
            <div class="form-group">
                <input name="email" type="hidden" class="form-control" id="exampleFormControlInput1" value="{{request.session.email}}">
            </div>
            <div class="form-group">
                <input name="password" type="hidden" class="form-control" id="exampleFormControlInput1" value="{{user.password}}">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Current password</label>
                <input name="current_password" type="text" class="form-control" id="exampleFormControlInput1">
            </div>
            <br>
            <div class="form-group">
                <label for="exampleFormControlInput1">New password</label>
                <input name="new_password" type="text" class="form-control" id="exampleFormControlInput1">
            </div>
            <br>
            <div class="form-group">
                <label for="exampleFormControlInput1">Confirm New password</label>
                <input name="confirm_new_password" type="text" class="form-control" id="exampleFormControlInput1">
            </div>
            <br>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-primary">Submit</button>
            </div>
        </form>
    </div>
    <br>
</body>
{% include 'footer.html' %}
{% endblock %}